.manage-patient-container {
  .m-p-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .manage-patient-body {
    padding: 0 50px;

    .select-day {
      margin-bottom: 10px;
      .text-day {
        font-weight: 500;
        font-size: 17px;
      }
    }

    .table-manage-patient {
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 5px;
        text-align: left;
      }

      button {
        border: none;
        outline: none;
        cursor: pointer;
      }
      .mp-btn-confirm {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .mp-btn-confirm.confirmed {
        background-color: #28a745;
        color: white;
      }
    }
  }
}
