.manage-schedule-container {
  .m-s-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .pick-hour-container {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    button {
      padding: 5px 15px;
      border: 1px solid grey;
    }
  }

  .btn-schedule {
    &.active {
      background-color: orange;
    }
  }

  .btn-save-schedule {
    margin-top: 20px;
  }
}
