.detail-specialty-container {
  .description-specialty {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 6px #20212409;
    button {
      border: none;
      background-color: #fff;
      opacity: 0.9;
      &:hover {
        color: #1d9fa7;
      }
    }
  }
  .search-sp-doctor {
    // margin-top: 10px;
    select {
      height: 30px;
      padding: 5px 8px;
      border: none;
      outline: none;
      border-radius: 3px;
      box-shadow: 0 1px 6px #20212409;
      cursor: pointer;
    }
  }

  .detail-specialty-body {
    background-color: #edededa7;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
  }

  .each-doctor {
    display: flex;
    width: 100%;
    min-height: 300px;
    margin: 15px 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 6px #20212447;
    border-radius: 8px;

    .dt-content-left {
      width: 50%;
      border-right: 1px solid #ddd;
      .profile-doctor-container {
        .down {
          padding: 10px !important;
        }
      }
    }

    .dt-content-right {
      width: 50%;
      padding: 10px;

      .doctor-schedule {
        .doctor-schedule-container {
          border-right: 1px solid #ddd;
        }
      }
      .doctor-extra-infor {
        border-top: 1px solid #ddd;
        margin-top: 5px;

        .doctor-infor-container {
          padding-left: 0 !important;
        }
      }
    }
  }
}
