.manage-doctor-container {
  padding: 20px;
  .manage-doctor-title {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
  // .manage-doctor-editor {
  //   margin: 0 20px;
  // }
  .save-content-doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 5px;
    background: orange;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  .create-content-doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 5px;
    background: rgb(33, 50, 235);
    color: white;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  .more-infor {
    display: flex;
    gap: 15px;
    // padding-bottom: 15px;
    margin-bottom: 15px;

    .content-left {
      width: 40%;
    }
    .content-right {
      width: 60%;
    }
  }
  .manage-doctor-editor {
    margin-top: 20px;
  }
}
