.home-header-banner {
  background-image: url("../../assets/banner.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .content-up {
    background-image: linear-gradient(
      rgba(126, 126, 126, 0.7),
      rgba(255, 255, 255, 0)
    );
    padding-top: 15px;
    height: 65%;

    .title1 {
      text-align: center;
      color: white;
      font-size: 35px;
      text-shadow: 2px 2px 2px #333;
      margin-bottom: 15px;
      margin-top: 30px;
    }

    .title2 {
      text-align: center;
      color: white;
      font-size: 35px;
      text-shadow: 2px 2px 2px #333;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  .content-down {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 1)
    );
    padding-bottom: 15px;
  }
}
